nav {
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}
nav h2 {
  color: #ff3f6c;
  font-size: 28px;
}
nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav li {
  cursor: pointer;
  font-weight: 600;
}

nav li:hover {
  color: #ff3f6c;
}