.product{

width:220px;

padding:20px;

border:1px solid #ddd;

border-radius:10px;

text-align:center;

transition:.3s;

}

.product:hover{

transform:translateY(-8px);

}

button{

padding:10px 20px;

background:#ff3f6c;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}